<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
		http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<servlet>
		<servlet-name>MyServlet</servlet-name>
		<servlet-class>com.irahul.servlet.MyServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MyServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>

	<!-- You can have multiple filters and they execute in the order defined here -->
	<filter>
		<filter-name>LogFilter</filter-name>
		<filter-class>com.irahul.filter.LoggingFilter</filter-class>	
	</filter>
	<filter-mapping>
		<filter-name>LogFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>ResponseTimeFilter</filter-name>
		<filter-class>com.irahul.filter.ResponseTimeFilter</filter-class>	
	</filter>
	<filter-mapping>
		<filter-name>ResponseTimeFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>